<div class="container">
  <div class="row">
    <div class="col-md-12 text-center text-success">
      <h2>Top Gigs </h2>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="card">
          <img src="https://res-4.cloudinary.com/made-com/image/upload/b_transparent,c_pad,d_made.svg,dpr_1,f_auto,q_auto:best,w_1100/v4/catalog/product/catalog/f/e/9/8/fe9867c9fc1ea4da80c3c1462a459fe6991d6702_c_h_challe004wltuk_lule_x2_dining_chairs_marl_and_hail_grey_with_walnut_legs_lb06.jpg" alt="img" class="card-img-top">
          <div class="card-body">
            <h3>Chairs</h3>
            <h5>$<span class="text-center">27</span> </h5>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>

        </div>
      </div>

      <div class="item">
        <div class="card">
          <img src="https://res-4.cloudinary.com/made-com/image/upload/b_transparent,c_pad,d_made.svg,dpr_1,f_auto,q_auto:best,w_1100/v4/catalog/product/catalog/f/e/9/8/fe9867c9fc1ea4da80c3c1462a459fe6991d6702_c_h_challe004wltuk_lule_x2_dining_chairs_marl_and_hail_grey_with_walnut_legs_lb06.jpg" alt="img" class="card-img-top">
          <div class="card-body">
            <h3>Chairs</h3>
            <h5>$<span class="text-center">27</span> </h5>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>

        </div>
      </div>

      <div class="item">
        <div class="card">
          <img src="https://res-4.cloudinary.com/made-com/image/upload/b_transparent,c_pad,d_made.svg,dpr_1,f_auto,q_auto:best,w_1100/v4/catalog/product/catalog/f/e/9/8/fe9867c9fc1ea4da80c3c1462a459fe6991d6702_c_h_challe004wltuk_lule_x2_dining_chairs_marl_and_hail_grey_with_walnut_legs_lb06.jpg" alt="img" class="card-img-top">
          <div class="card-body">
            <h3>Chairs</h3>
            <h5>$<span class="text-center">27</span> </h5>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn btn-primary btn-sm">Buy Now</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<hr class="my-4">

