<div class="back">
  <div class="main">
  <img src="http://nudelta.mit.edu/images/PhoenixIcon.png"><h2 class=" h2" id="title">Welcome Ferniture Rental Registation Form</h2>
  </div>
    <div class="form">
<form action="Sign-in.php" style="max-width:500px;margin:auto" onsubmit="return validate()" ng-submit="submitForm(f1.$valid)" novalidate><br>
  <h2 class="h2" id="sub">Register Hear</h2><br>
  <div class="input-container">
    <i class="fas fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="username" ngModel="name">
  </div><br>

  <div class="input-container">
    <i class="fas fa-envelope icon"></i>
    <input class="input-field" type="email" placeholder="Email" name="email" ngModel="email">
  </div><br>

  <div class="input-container">
    <i class="fas fa-handshake icon"></i>
    <select class="input-field" name="options" ngModelGroup="options">
      <option>Choose Your Post?</option>
      <option>Customer</option>
      <option>Seller</option>
      <option>Deliver</option>
    </select>
  </div><br>

  <div class="input-container">
    <i class="fas fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw" ngModel="password"><i  class="far fa-eye icon eye"></i>
  </div><br>

  <div class="input-container">
    <i class="fas fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Confirm Password" name="confirm" ngModel="confpassword"><i class="far fa-eye icon eye"></i>
  </div><br>

  <button type="submit" class="btn" value="Submit">Register</button><br><br>
 <button type="submit" class="btn home" routerLink="view">Home <<</button>
</form>
  </div>
  <div class="social fag">
    <p><h6>FurniRent &copy; All Right Resiverd</h6>
    <a href="#" class="social"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social"><i class="fab fa-youtube"></i></a>
    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="social"><i class="fab fa-github"></i></a>
    <a href="#" class="social"><i class="fab fa-google-plus"></i></a>
  </div>
</div>


