
<body>
<div class="sign-up">
  <h2>Customer sign-up</h2>
  <div>
    <form>
      <p class="view">Please fill in this form to create an account</p>
      <div class="form-row">
        <div class="col">
          <input type="text" name="" placeholder="First name">
          <input type="text" name="" placeholder="Last name">
        </div>

        <input type="text" name="" placeholder="Enter Telephone"><br>
        <input type="text" name="" placeholder="Enter Email"><br>
        <input type="text" name="" placeholder="Enter your city"><br>



        <div class="col">
          <input type="password" name="" placeholder="Enter your password">
          <input type="password" name="" placeholder="Conform your password">
        </div>
      </div>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I agree terms & policy
      </label>
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>

    </form>
  </div>

</div>
</body>
