<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>Our Philosophy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum, doloremque ea eaque eos repellat? Assumenda at dolorum exercitationem fugit, iste labore laboriosam, minima molestiae mollitia nam recusandae reiciendis totam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum, doloremque ea eaque eos repellat? Assumenda at dolorum exercitationem fugit, iste labore laboriosam, minima molestiae mollitia nam recusandae reiciendis totam.</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="http://ak8.picdn.net/shutterstock/videos/5353868/thumb/1.jpg" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">
