<!-- Nav Bar -->
<app-nav-bar></app-nav-bar>

<!-- Routing -->
<router-outlet></router-outlet>

<!--Slider-->
<app-slider></app-slider>

<!--Jumbotron-->
<app-jumbotron></app-jumbotron>

<!-- Welcome Section -->
<app-welcome-section></app-welcome-section>

<!-- Gole -->
<app-gole></app-gole>

<!-- Section -->
<app-section></app-section>

<!-- Fixed-Area -->
<app-fixed-area></app-fixed-area>

<!-- Team -->
<app-team></app-team>

<!-- Progress -->
<app-proggress></app-proggress>

<!-- Philosophy -->
<app-philosophy></app-philosophy>

<!-- Gig Slider -->
<app-gig-slider></app-gig-slider>

<!-- Connect -->
<app-connect></app-connect>

<!-- Comments -->
<app-comments></app-comments>

<!-- About Us -->
<app-about-us></app-about-us>

<!-- Footer -->
<app-footer></app-footer>
